@charset "utf-8";
/* CSS Document */

  
    .topnav {
    overflow: hidden;
    background-color: #FF1493;
    max-width: 100%;
    }
    
    .topnav a {
    float: left;
	display:block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
	text-decoration-color: white;
    font-size: 17px;
    }
    
    .topnav a:hover {
    background-color: #ddd;
    color: black;
    }
    
    .topnav a.active {
    background-color: #4CAF50;
    color: white;
    }
